.fondo{
    background: rgb(0,33,36);
    background: linear-gradient(90deg, rgba(0,33,36,0.5998774509803921) 0%, rgba(0,212,255,1) 37%, rgba(0,206,251,1) 59%, rgba(9,9,121,1) 100%);
}

.fuente{
    font-family: 'Cinzel', serif;

}

.fuente2{
    font-size: 100px;
}

.logo{
    height: 70px;
    width: 100px;
    margin-right: 450px;
    margin-left: 250px;
}

#estrella{
 color: rgb(255, 208, 0);   
}

.imagen{
    width: 100%;
}

footer{
    background-color: black;
}

.pais{
    height: 15px;
    margin-left: 650px;
    margin-right: 0px;
}

